/* Add styles here */
body {
    background-color: #2E5090;
    text-align: center;
}

#button {
    background-color: purple;
    border: ridge;
}

#Picture {
    border: 10px ridge dimgrey;
    height: auto;
    max-width: 600px;
}
