/* Add styles here */
body {
    background-color: #2E5090;
    text-align: center;
}

#button {
    background-color: aliceblue;
    border: ridge;
    border-radius: 5px
}

#Picture {
    border: 10px ridge dimgrey;
    height: auto;
    max-width: 600px;
}

h1 {
    color: white;
}
